$wh: 40vw
%noSelect
  -webkit-touch-callout: none
  -webkit-user-select: none  
  -khtml-user-select: none 
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
// *
  // border: solid 2px
//   position: relative

// html, body
//   margin: 0
//   padding: 0
//   background-color: blue
//   height: 100vh
//   overflow: hidden
  
#volume, #pause
  position: absolute
  top: 50%
  left: 50%
  margin: 0
  transform: translateX(-50%) translateY(-50%)
  color: #fff
  border-radius: 50%
  width: $wh
  height: $wh
  line-height: $wh
  text-align: center
  cursor: e-resize
  @extend %noSelect
  font-size: 2.5em
  font-family: Monospace
  border: double 13px
  white-space: wrap
  
.box
  position: absolute
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,.8)
  z-index: 10
  margin: 0
  // transform: translateY(-101%)
  cursor: pointer