.uploadUI
  h1 Yeahhhhhhhh
  p = Upload an audio to start! =
    p ## mp3, ogg, wav files supported ##
    p # Modern bowser suggested #
    
  input(type="file" id="input")
  audio(id="sound" controls)
  
.prepare
  span.three 3
  span.two 2
  span.one 1
  span.go Go!!!!
  
.gameUI
  .audioInfo()
    i(class="fa fa-volume-up" aria-hidden="true" onClick="adjustVolume()")
    i(class="fa fa-play" aria-hidden="true" onClick="pauseGame()")
    //- span  Playing 
    .title 
      span#audioName K-391 - Summertime [Sunshine].mp3
  .test
    .upDown
      i(class="fa fa-arrow-up tester" aria-hidden="true" id="topTest" onclick = 'triggerKeydown(38)')
      br
      i(class="fa fa-arrow-down tester" id="downTest" aria-hidden="true" onclick = 'triggerKeydown(40)')
    .rightLeft
      i(class="fa fa-arrow-left tester" id="leftTest" aria-hidden="true" onclick = 'triggerKeydown(37)')
      i(class="fa fa-arrow-right tester" id="rightTest" aria-hidden="true" onclick = 'triggerKeydown(39)')
    //- .audios
    //-   audio(controls)
    //-   audio(controls)
    //-   audio(controls)
    //-   audio(controls)

  .score
    span#score 0
    p.comment 
    p#combos
    
#center
    
    
.resultUI
  .level A
  .result You've got 
    span.finalScore 111000 
    |  scores!
    br
    | And 
    span.combos 33 
    |  combos!
  //.replay Play again?